@import './variables.scss';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;700;900&display=swap');


// general rules

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}


// buttons/inputs tags rules
button{    
    border-radius: 60px;
    color: $primary_btn_color;
    background-color: $primary_btn_background_color;
    border: 0;
    margin: 0 15px;
    padding: 0 30px;
    font-size: $general_btn_font_size;
    transition: transform .5s ease-in-out;
}

.button-header{
    min-width: 150px;
    min-height: 50px;
}
.button-page,
.button-page-2,
.button-page-3{
    min-width: 200px;
    min-height: 60px;

}
.button-page-2{
    background-color: $primary_btn_2_color;
    border: 2px solid $btn_2_border-color;
}
.button-page-3{
    background-color: $primary_btn_3_color;        
    color: $primary_btn_3_text_color;

}
button:hover {
    transform: scale(1.1);
    
}
input{
    min-width: 500px;
    min-height: 60px;
    border: 0;
    border-radius: 30px;
    font-size: 25px;
    padding-left: 30px;
    margin: 20px 0 40px;
}
// /buttons/inputs tags rules

// custom hr 
.fitness-hr{
    color: $yellor_icon_color;
    font-size: 35px;
    position: relative;
    height: 80px;
    .icon-formatting-left,
    .icon-formatting-center,
    .icon-formatting-right{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 20px;
        font-size: 30px;
    }
    .icon-formatting-center{
        left: 42px;
    }
    .icon-formatting-right{
        left: 63px;
    }
}
// /custom hr 

// /general rules



