@import './variables.scss';
@import 'bootstrap';

button{    
    border-radius: 2.8125rem;
    color: $primary_btn_color;
    background-color: $primary_btn_background_color;
    border: 0;
    margin: 0 15px;
    padding: 0 30px;
    font-size: 22px;
    font-weight: bold;

}

.button-header{
    min-width: 270px;
    min-height: 60px;
}
.button-page{
    min-width: 270px;
    min-height: 80px;
}

input{
    min-width: 700px;
    min-height: 80px;
    border-radius: 2.8125rem;
    font-size: 22px;
    padding-left: 30px;
    margin: 20px 0 40px;
}




.fitness-hr{
    color: yellow;
    font-size: 35px;
    position: relative;
    height: 120px;
    .icon-formatting-left,
    .icon-formatting-center,
    .icon-formatting-right{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 20px;
    }
    .icon-formatting-center{
        left: 45px;
    }
    .icon-formatting-right{
        left: 68px;
    }
}


