// general rules
$yellor_page_color:#fff941;
// /general rules



// button section
$primary_btn_color:#f3ffff;

$secondary_btn_color:#93939f;

// btn-2
$primary_btn_2_color:transparent;


$btn_2_border-color:#93939f;

// /btn-2

// btn-3
$primary_btn_3_color:red;

$primary_btn_3_text_color:#fff;

// /btn-3

$primary_btn_background_color:#4154ff;




// play button 
$primary_play_btn_background_color:white;
$primary__play_btn_icon_color:#4154ff;


// /play button 


// /button section


// popup section

$primary_background_popup_color:#fff941;

$primary_background_popup_color_text:black;


// /popup section


// /general rules




// header section
$header_background_color:#060607;
$header_primary_text_color:#93939f;
$header_hover_primary_text_color:#fff;



@mixin header_components_verticalization {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
// /header section


// mailing list section

$mailing_primary_text_color:#fff;
$mailing_secondary_text_color:#ff414b;
$mailing_description_text_color:#93939f;


// /mailing list section

// endurance list

$hovering_box_h3_color:#fff;
$hovering_box_h5_color:#fff941;
$hovering_box_hr_color:#fff;

$testimonial_h6_color:#fff;
$testimonial_location_color:#b2b2b4;

// /endurance list


// tune your workout list
$tune_workout_h4_color:#4154ff;
$tune_workout_description_color:black;


// /tune your workout list

// footer section
$footer_primary_text_color:#fff;
$footer_secondary_text_color:#93939f;
$footer_hr_color:#2c2a35;
// /footer section
